#jumbotron-title {
  text-align: center;
  font-family: "Saira", sans-serif;
  color: #89b0ae;
}

p {
  font-family: "Open Sans", sans-serif;
}
#body-color {
  background-color: white;
}

#jumbotron-text {
  color: #faf9f9;
  text-align: center;
}

button {
  background-color: white;
  margin: 10px;
  border-style: none;
  align-content: center;
}

.btn-group {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.btn:hover {
  background-color: #89b0ae !important;
  border-color: #bee3db;
  border-width: medium;
  color: white;
}

button.selected {
  background-color: #ffd6ba;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 10px #cabea3;
  -moz-box-shadow: inset 0px 0px 10px #cabea3;
  box-shadow: inset 0px 0px 10px #cabea3;
}

#youtubeAPI {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
  background-color: #bee3db;
  border-radius: 25px;
}

#boredAPI {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  background-color: #ffd6ba;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  border-radius: 25px;
}

.hidden {
  visibility: hidden;
}

.card {
  color: #bee3db;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555b6e;
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: medium;
  font-family: "Saira", sans-serif;
  color: gray;
}
