#jumbotron-title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #89b0ae;
}

p {
  font-family: "Open Sans", sans-serif;
}
#body-color {
  background-color: rgb(245, 245, 245);
}

#jumbotron-text {
  color: #faf9f9;
  text-align: center;
}

button {
  background-color: #89b0ae !important;
  margin: 10px;
  border-style: none;
  align-content: center;
}
.btn{
  color: white;
}

.btn-group {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;

}

.btn:hover {
  background-color: #89b0ae !important;
  border-color: #bee3db;
  border-width: medium;
  color: white;
}

.btn.selected {
  background-color: #89b0ae;
  color: white;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 10px #5e7a79;
     -moz-box-shadow: inset 0px 0px 10px #5e7a79;
          box-shadow: inset 0px 0px 10px #5e7a79;
}

#youtubeAPI {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
}

#boredAPI {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  background-color: #ffd6ba;
  font-family: ;
}
