#jumbotron-title {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #89b0ae;
}

#body-color {
  background-color: white;
}

#jumbotron-text {
  color: #faf9f9;
}

button {
  background-color: white;
  margin: 10px;
  border-style: none;
  align-content: center;
}

.btn-group {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.btn:hover {
  background-color: #89b0ae;
  border-color: #bee3db;
  border-width: medium;
  color: white;
}

#youtubeAPI {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
